# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text garbage
*.ii
*.s

# My garbage :)
Win32/
x64/
doctest_with_main.dir/
scripts/bench/project/*
scripts/bench/catch*.hpp
scripts/bench/results.txt
build/
build-mingw/
*.pyc
*vscode*
.idea/
cmake-build-*/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/doctest/v16/ipch/AutoPCH
/.vs/doctest/v16/Browse.VC.opendb
/.vs/doctest/v16/Browse.VC.db
/.vs/doctest/v16/.suo
/examples/executable_dll_and_plugin/.vs
